body{
    text-align: center;
    background-image: url("../images/psych-background.jpg");
}

#sub-wrapper{
    margin-top: 20px;
    border: 10px;
}

.styled-start {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(7, 220, 0);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled-start:hover {
    background-color: rgb(0, 255, 34);
}

.styled-start:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.styled-submit {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(132, 0, 220);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled-submit:hover {
    background-color: rgb(228, 9, 137);
}

.styled-submit:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}


.h1, h1 {
    text-emphasis: bold;
    background-color: grey;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;

} 

#sub-wrapper{
    background-color: plum;
    margin-top:50px;
    margin-left: 100px;
    margin-right:100px;
    margin-bottom: 100px;
    padding-bottom: 40px;
}